.slide {
    margin-bottom: 50px;
}

.slide a.carousel-control-prev {
    background:-moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 85%); 
    background:-webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 85%);
    background:-o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#000000', GradientType=0 );
    background:-ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 85%);
    background:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 85%);
}

.slide a.carousel-control-next{
    background:-moz-linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 85%); 
    background:-webkit-linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 85%);
    background:-o-linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#FFFFFF', GradientType=0 );
    background:-ms-linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 85%);
    background:linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 85%);
}

.carousel-caption {
    background: rgba(0, 0, 0, .6);
    /* opacity: 0.6; */
    border-radius: 25px;
    padding: 1rem 0!important ;
    
}

.carousel-caption h3{
    font-family: var(--font-title);
    font-size: 50px;
    color: #FFFFFF;
    opacity: 1.0;
}

.carousel-caption a{
    font-size: 20px;
    /* color: #FFFFFF; */
}

@media screen and (max-width: 800px) {
    .carousel-caption h3,
    .carousel-caption P{
        margin: 0;
    }
}

@media screen and (max-width: 450px) {
    .carousel-caption P{
        display: none;
    }
    .carousel-caption {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
    }
    
}