.internalBanner {

 border: 1px solid red;
}

.internalBanner .row {
    height: 250px;
   /* ff 3.6+ */
   background:-moz-linear-gradient(0deg, rgba(0, 0, 0, 0.78) 0%, rgba(125, 24, 24, 0) 100%); 

   /* safari 5.1+,chrome 10+ */
   background:-webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.78) 0%, rgba(125, 24, 24, 0) 100%);

   /* opera 11.10+ */
   background:-o-linear-gradient(0deg, rgba(0, 0, 0, 0.78) 0%, rgba(125, 24, 24, 0) 100%);

   /* ie 6-9 */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#7D1818', GradientType=1 );

   /* ie 10+ */
   background:-ms-linear-gradient(0deg, rgba(0, 0, 0, 0.78) 0%, rgba(125, 24, 24, 0) 100%);

   /* global 94%+ browsers support */
   background:linear-gradient(0deg, rgba(0, 0, 0, 0.78) 0%, rgba(125, 24, 24, 0) 100%);
}