@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600;700&family=Josefin+Sans:wght@300;400&display=swap');


:root {
  --font-txt: 'Josefin Sans', sans-serif;
  --font-title: 'Cormorant Upright', serif;

  --color-white: #FFFFFF;
  --color-golden: #DCCA87;
  --color-gray: #AAAAAA;
  --color-black: #000000
}

* {
  font-family: var(--font-txt);
  font-weight: 300;
}
